

<form>
    First Name: <input type="text" ng-model="{canvasCtrl.circle.x">
  </form>
  <h1>You entered: {{{canvasCtrl.circle.x}}</h1>
<p>Cirle properties</p>
<p>the position of x for circle is {{canvasCtrl.circle.x}}</p>
<p>the position of y for circle is {{canvasCtrl.circle.y}}</p>
<p>the radius of the circle is {{canvasCtrl.circle.radius}}</p>

<p>Rectangle properties</p>
<p>the position of x for circle is {{canvasCtrl.circleX}}</p>
<p>the position of y for circle is {{canvasCtrl.circleY}}</p>
<p>the radius of the circle is {{canvasCtrl.radius}}</p>
